{% extends 'shablon.html' %}

{% block content %}

    <div class="container text-white" style="text-align: center">
        <H2> Вы уверены, что хотите удалить Автора: {{ guest.name }} ? </H2>
        <form action="{% url 'guest_delete' guest.id %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary btn-lg active" role="button" style="padding: 10px 42px" aria-pressed="true" type="submit" value="Да"/>
            <a href="{% url "index_all" %}" class="btn btn-secondary btn-lg active"  role="button" aria-pressed="true">Отмена!</a>
        </form>
    </div>

{% endblock content %}

